* {
    font-family: 'lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVIGATION BAR */

#landing {
    min-height: 28vh;
    display: flex;
    flex-direction: column;
}

.nav__link--primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
}


.personal__logo {
    max-width: 100%;
    height: auto;
    margin-right: 0.75rem;
    width: 2.5rem;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type: none;
    padding-left: 16px;
    justify-content: space-between;
}

.title {
    justify-content: center;
    display: flex;
    align-items: center;
}

.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple {
    color: #6030b1;
}


