.nav__links {
    height: 70px;
    text-decoration: underline;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    color: aqua;
}

.nav__container {
    height: 70px;
    color: purple;
}

.landing {
    height: 70px;
    color: purple;
}

.nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.personal__logo {
    justify-content: right;
}

.logo {
    justify-content: flex-end;
    margin-right: 0.75rem;
    width: 2.5rem;
}


